extends layout

block content
	.container-fluid#container-diag

		// Content
		.row.justify-content-between#app-row

			// Lateral col (info)
			.col#col-diag-data

				.breadcrumb.navbar-success.bg-light
					.h6.breadcrumb-item Data Informations
					
				.btn-gtoup(role="group", arial-label="Basic example")
					button.btn.btn-info.btn-class-annot(type="button" onClick="drawElement(0);" value=false) Ovary
					button.btn.btn-info.btn-class-annot(type="button" onClick="drawElement(1);" value=false) Follicle
					button.btn.btn-info.btn-class-annot(type="button" onClick="drawElement(2);" value=false) Cyst

				.table-dark#list-annot

				div
					button#btn-save.btn.btn-save(type="button" onClick="saveAnnot();") Save

			
			// Main col (image)
			.col#col-diag-img
				//.loader
				
				.row.justify-content-center
					.image-container.col-auto
						#plot-box
							canvas.img-disp#main-canvas(oncontextmenu="return false;")

		// Gallery bar
		.row.justify-content-between#gallery-row
			
			.col.col-left-ctrl
				.btn-group.cmd-group(role="group")
					button.btn.btn-ctrl(type="button" onClick="jumpImage(-1);" value=false)
						i.fas.fa-fast-backward
					button.btn.btn-ctrl(type="button" onClick="identImage(-1);" value=false)
						i.fas.fa-step-backward

			.col.col-center-ctrl
				.progress
					.progress-bar.progress-bar-striped.progress-bar-animated(role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width:0%") 1/100
			
			.col.col-right-ctrl
				.btn-group.cmd-group(role="group")
					button.btn.btn-ctrl(type="button" onClick="identImage(1);" value=false)
						i.fas.fa-step-forward
					button.btn.btn-ctrl(type="button" onClick="jumpImage(1);" value=false)
						i.fas.fa-fast-forward


	script(src="/javascripts/interpolation.js")
	script(src="/javascripts/drawing.js")
	script(src="/javascripts/annot_main.js")
	script(src="/javascripts/annot_list.js")
	script(src="/javascripts/annot_gallery.js")
	script.
		$(window).on("load", function(){
			loadScreenDrApp();
		});
		window.onresize = function (event) {
			refreshScreenSize();
		}