
doctype
html
	head
		title #{title} - Medical Images Annotations
		meta(charset="utf-8")
		
		block stylesheets
			link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
			link(rel='stylesheet', href='/stylesheets/toogle.css')
			link(rel='stylesheet', href='/stylesheets/webstyle.css')
			link(rel='stylesheet', href='/stylesheets/annot.css')
		
		slink(rel='shortcut icon', href='/images/screenDR-light_mini_logo.png', type='image/x-icon') 

		block scripts
			script(src="/javascripts/jquery-3.3.1.min.js")
			script(src="/javascripts/popper.min.js")
			script(src="/javascripts/bootstrap.min.js")
			script( defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous")
	body
		header(id='header')
				
			nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
				
				.menu-left
					a.navbar-brand(href='/')
						img.proj-logo(src='/images/ovary.png')
										
				.menu-right
											
					button.navbar-toggler(type="button" data-toggle="collapse" 
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
					aria-expanded="false" aria-label="Toggle navigation") 
						span.navbar-toggler-icon


					.collapse.navbar-collapse#navbarSupportedContent
						ul.navbar-nav.mr-auto
							li.nav-item
								a.nav-link(href='/') Home
							if sess_user != undefine
								li.nav-item
									a.nav-link(href='/annot') Annotations
						
						ul.navbar-nav
							if sess_user == undefine
								li.nav-item
									a.nav-link(href='/user/login') Hello, Sign in
								li.nav-item
									a.nav-link(href='/user/login')
										i.fa.fa-sign-in-alt.fa-w-16
							else
								li.nav-item.dropdown
									a.nav-link.dropdown-toggle#navbarUserMenuLink(style="margin-right: 5px;" href='#' data-toggle="dropdown" aria-haspopup="true" aria-expanded="true") #{sess_user.name} #{sess_user.surname}
										i.fas.fa-user-md.fa-2x(style="margin-left: 10px;")
									.dropdown-menu.dropdown-left(aria-labelledby="navbarUserMenuLink")
										a.dropdown-item(href='/user/profile') Profile
										a.dropdown-item(href='/gallery') Gallery
										if  sess_user.role == "admin"
											.dropdown-divider
											a.dropdown-item(href='/manage') Manage
										.dropdown-divider
										form(method='post', action='/user/logout')
											button.btn.btn-link.dropdown-item Logout

		.text-center
			block content


	footer(id='footer')
	
			.logos-container(style='horizontal-align: central; padding-bottom:10px;')
				a(href='https://www.inesctec.pt/en/centres/c-ber/' target='_blank')
					img.partner-logo(src='/images/inesctec_logo.png')
				a(href='https://www.fe.up.pt/' target='_blank')
					img.partner-logo(src='/images/feup_logo.png' )
				a(href='https://www.fe.up.pt/' target='_blank')
					img.partner-logo(src='/images/chsj_logo.png' )